@charset "CP850";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:900);
@font-face {
  font-family: "whoru-icons";
  src: url("fonts/whoru-icons/whoru.eot");
  src: url("fonts/whoru-icons/whoru.eot?#iefix") format("embedded-opentype"), url("fonts/whoru-icons/whoru.ttf") format("truetype"), url("fonts/whoru-icons/whoru.woff") format("woff"), url("fonts/whoru-icons/whoru.svg#whoru") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../app/styles/sass/_wh_contacts-font.sass */
.wh-contact-icon:before {
  font-family: "whoru-icons";
  content: attr(data-wh-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../app/styles/sass/_wh_styles.sass */
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* line 1, ../../app/styles/sass/_reset.sass */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../app/styles/sass/_reset.sass */
a {
  text-decoration: none;
}

/* line 7, ../../app/styles/sass/_reset.sass */
button:focus,
select:focus {
  outline: 0;
}

/* line 13, ../../app/styles/sass/_reset.sass */
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 24, ../../app/styles/sass/_reset.sass */
.nonDraggable {
  -webkit-user-drag: none;
}

/* line 2, ../../app/styles/sass/_page.sass */
body {
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* line 9, ../../app/styles/sass/_page.sass */
.wh-background-image {
  background: white url(../images/bilbao_small.jpg) top fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
/* line 20, ../../app/styles/sass/_page.sass */
.wh-background-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(../images/pattern.png) fixed;
}
/* line 25, ../../app/styles/sass/_page.sass */
.wh-background-image:before {
  content: "";
  position: relative;
  display: block;
  top: 13%;
  height: 6em;
  bottom: auto;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* line 35, ../../app/styles/sass/_page.sass */
.main-container {
  position: relative;
}

/* line 42, ../../app/styles/sass/_page.sass */
.intro-scrolled body {
  position: relative;
}
/* line 44, ../../app/styles/sass/_page.sass */
.intro-scrolled .main-container {
  position: static;
}
/* line 46, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-background-image {
  position: fixed;
  height: 100%;
  background-position-y: 0 !important;
}
/* line 50, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-background-image:before {
  height: 0;
}

/* line 60, ../../app/styles/sass/_page.sass */
.header-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: auto;
  height: 3em;
  background: white;
  z-index: 2;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 70, ../../app/styles/sass/_page.sass */
.wh-header-fullname {
  float: left;
  padding-top: 1em;
  padding-left: 0.8em;
  position: relative;
  width: 0;
}

/* line 77, ../../app/styles/sass/_page.sass */
.wh-header-name {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  position: relative;
  float: left;
  padding-right: 0.2em;
  color: #e74c3c;
  text-transform: uppercase;
  top: -9999px;
  font-size: 1.7em;
}

/* line 88, ../../app/styles/sass/_page.sass */
.wh-header-surname1,
.wh-header-surname2 {
  position: relative;
  top: -9999px;
}

/* line 96, ../../app/styles/sass/_page.sass */
.wh-header-options.select {
  margin-top: 0.55em;
  width: 50%;
  max-width: 10em;
  display: inline-block;
  float: right;
  margin-right: 0.6em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  border: 2px solid #f0c700;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 109, ../../app/styles/sass/_page.sass */
.wh-header-options.select select {
  font-family: inherit;
  color: #f0c700;
  text-align: center;
  width: 100%;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.125em;
  -webkit-appearance: none;
  background: none;
  border: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 126, ../../app/styles/sass/_page.sass */
.wh-header-options.select:before, .wh-header-options.select:after {
  pointer-events: none;
  position: absolute;
}
/* line 131, ../../app/styles/sass/_page.sass */
.wh-header-options.select:before {
  content: "";
  right: 0.1em;
  width: 1.3em;
  top: 0.1em;
  bottom: 0.125em;
  background: white;
}
/* line 139, ../../app/styles/sass/_page.sass */
.wh-header-options.select:after {
  font-family: "arial";
  content: "›";
  color: #f0c700;
  font-size: 1.7em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 0.2em;
  top: 0em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 151, ../../app/styles/sass/_page.sass */
.wh-header-options.ul {
  display: none;
}

/* line 155, ../../app/styles/sass/_page.sass */
.wh-header-option {
  display: inline;
  padding: 0 0.7em;
  text-transform: uppercase;
}
/* line 159, ../../app/styles/sass/_page.sass */
.wh-header-option:first-child {
  display: none;
}
/* line 161, ../../app/styles/sass/_page.sass */
.wh-header-option a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  color: #53585e;
}

/* line 171, ../../app/styles/sass/_page.sass */
.wh-header-locales {
  float: left;
  z-index: 3;
}

/* line 175, ../../app/styles/sass/_page.sass */
.wh-header-locale {
  float: left;
  padding: 1em 1em 0 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 179, ../../app/styles/sass/_page.sass */
.wh-header-locale.current {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 183, ../../app/styles/sass/_page.sass */
.wh-header-locale:not(.current) {
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 186, ../../app/styles/sass/_page.sass */
.wh-header-locale img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 189, ../../app/styles/sass/_page.sass */
#to-top {
  opacity: 0;
  z-index: -1;
  position: fixed;
  right: 0.7em;
  bottom: 0.7em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1.7em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.2s opacity linear;
  -moz-transition: 0.2s opacity linear;
  -o-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  background: white;
  text-indent: -2.858em;
}
/* line 204, ../../app/styles/sass/_page.sass */
#to-top:after {
  padding-left: 1em;
  font-family: "whoru-icons";
  content: "ç";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 211, ../../app/styles/sass/_page.sass */
.intro-scrolled .header-container {
  position: fixed;
  height: 4em;
  top: 0;
}
/* line 215, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-header-name {
  top: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 219, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-header-options.select {
  margin-top: 0.9em;
}
/* line 222, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-header-locales {
  display: none;
}
/* line 225, ../../app/styles/sass/_page.sass */
.intro-scrolled #to-top {
  z-index: 5;
  opacity: 0.8;
}
/* line 228, ../../app/styles/sass/_page.sass */
.intro-scrolled #to-top:hover {
  opacity: 1;
}

/* line 235, ../../app/styles/sass/_page.sass */
.wh-intro-fullname,
.wh-intro-summary,
.wh-intro-description {
  position: fixed;
  z-index: 0;
  right: 6%;
  color: #f0c700;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  color: color-intro-text;
}

/* line 246, ../../app/styles/sass/_page.sass */
.wh-intro-fullname,
.wh-intro-summary {
  top: -9999px;
}

/* line 250, ../../app/styles/sass/_page.sass */
.wh-intro-fullname {
  font-size: 1.5em;
  font-weight: 300;
}
/* line 253, ../../app/styles/sass/_page.sass */
.wh-intro-fullname div {
  float: left;
  padding-left: 0.3em;
}

/* line 257, ../../app/styles/sass/_page.sass */
.wh-intro-name {
  width: 3em;
  text-align: right;
}

/* line 261, ../../app/styles/sass/_page.sass */
.wh-intro-summary {
  font-weight: 300;
  font-size: 1em;
  opacity: 0.8;
  margin-top: 2.8em;
}

/* line 268, ../../app/styles/sass/_page.sass */
.wh-intro-description {
  top: 13%;
  font-weight: 300;
  font-style: italic;
  font-size: 0.7em;
  opacity: 0;
  margin-top: 7.2em;
}

/* line 279, ../../app/styles/sass/_page.sass */
.wh-intro-loaded .wh-intro-fullname,
.wh-intro-loaded .wh-intro-summary {
  top: 13%;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
/* line 285, ../../app/styles/sass/_page.sass */
.wh-intro-loaded .wh-intro-summary {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 288, ../../app/styles/sass/_page.sass */
.wh-intro-loaded .wh-intro-description {
  opacity: 0.8;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

/* line 298, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-intro-fullname,
.intro-scrolled .wh-intro-summary,
.intro-scrolled .wh-intro-description {
  display: none;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* line 311, ../../app/styles/sass/_page.sass */
.wh-cv {
  padding-top: 3.5em;
  background: #e74c3c;
  position: relative;
  z-index: 1;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] #to-top {
  color: #d62c1a;
  -webkit-box-shadow: 0px 5px #d62c1a;
  -moz-box-shadow: 0px 5px #d62c1a;
  box-shadow: 0px 5px #d62c1a;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #d62c1a;
  -moz-box-shadow: 0px 3px #d62c1a;
  box-shadow: 0px 3px #d62c1a;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] .header-container {
  border-bottom: 5px solid #d62c1a;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] .wh-header-name {
  color: #d62c1a;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] .wh-header-options.select {
  border-color: #d62c1a;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] .wh-header-options.select select {
  color: #d62c1a;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="presentation"] .wh-header-options.select:after {
  color: #d62c1a;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.presentation {
  background: #e74c3c;
  border-bottom: 5px solid #d62c1a;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.presentation .wh-generic-section-title {
  text-shadow: 0px 5px 0px #d62c1a;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.presentation.current a, .wh-header-option.presentation:hover a {
  color: #d62c1a;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] #to-top {
  color: #4fc0b9;
  -webkit-box-shadow: 0px 5px #4fc0b9;
  -moz-box-shadow: 0px 5px #4fc0b9;
  box-shadow: 0px 5px #4fc0b9;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #4fc0b9;
  -moz-box-shadow: 0px 3px #4fc0b9;
  box-shadow: 0px 3px #4fc0b9;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] .header-container {
  border-bottom: 5px solid #4fc0b9;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] .wh-header-name {
  color: #4fc0b9;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] .wh-header-options.select {
  border-color: #4fc0b9;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] .wh-header-options.select select {
  color: #4fc0b9;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="work"] .wh-header-options.select:after {
  color: #4fc0b9;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.work {
  background: #9adbd7;
  border-bottom: 5px solid #4fc0b9;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.work .wh-generic-section-title {
  text-shadow: 0px 5px 0px #4fc0b9;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.work.current a, .wh-header-option.work:hover a {
  color: #4fc0b9;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] #to-top {
  color: #6d2018;
  -webkit-box-shadow: 0px 5px #6d2018;
  -moz-box-shadow: 0px 5px #6d2018;
  box-shadow: 0px 5px #6d2018;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #6d2018;
  -moz-box-shadow: 0px 3px #6d2018;
  box-shadow: 0px 3px #6d2018;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] .header-container {
  border-bottom: 5px solid #962d22;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] .wh-header-name {
  color: #962d22;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] .wh-header-options.select {
  border-color: #962d22;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] .wh-header-options.select select {
  color: #962d22;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="tech_skills"] .wh-header-options.select:after {
  color: #962d22;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills {
  background: #c0392b;
  border-bottom: 5px solid #962d22;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.tech_skills .wh-generic-section-title {
  text-shadow: 0px 5px 0px #962d22;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.tech_skills.current a, .wh-header-option.tech_skills:hover a {
  color: #962d22;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] #to-top {
  color: #f9be04;
  -webkit-box-shadow: 0px 5px #f9be04;
  -moz-box-shadow: 0px 5px #f9be04;
  box-shadow: 0px 5px #f9be04;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #f9be04;
  -moz-box-shadow: 0px 3px #f9be04;
  box-shadow: 0px 3px #f9be04;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] .header-container {
  border-bottom: 5px solid #f9be04;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] .wh-header-name {
  color: #f9be04;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] .wh-header-options.select {
  border-color: #f9be04;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] .wh-header-options.select select {
  color: #f9be04;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="career"] .wh-header-options.select:after {
  color: #f9be04;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.career {
  background: #fccc34;
  border-bottom: 5px solid #f9be04;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.career .wh-generic-section-title {
  text-shadow: 0px 5px 0px #f9be04;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.career.current a, .wh-header-option.career:hover a {
  color: #f9be04;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] #to-top {
  color: #32cf7f;
  -webkit-box-shadow: 0px 5px #32cf7f;
  -moz-box-shadow: 0px 5px #32cf7f;
  box-shadow: 0px 5px #32cf7f;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #32cf7f;
  -moz-box-shadow: 0px 3px #32cf7f;
  box-shadow: 0px 3px #32cf7f;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] .header-container {
  border-bottom: 5px solid #32cf7f;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] .wh-header-name {
  color: #32cf7f;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] .wh-header-options.select {
  border-color: #32cf7f;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] .wh-header-options.select select {
  color: #32cf7f;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="hobbies"] .wh-header-options.select:after {
  color: #32cf7f;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.hobbies {
  background: #5bd999;
  border-bottom: 5px solid #32cf7f;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.hobbies .wh-generic-section-title {
  text-shadow: 0px 5px 0px #32cf7f;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.hobbies.current a, .wh-header-option.hobbies:hover a {
  color: #32cf7f;
}

/* line 26, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] #to-top {
  color: #bd48cc;
  -webkit-box-shadow: 0px 5px #bd48cc;
  -moz-box-shadow: 0px 5px #bd48cc;
  box-shadow: 0px 5px #bd48cc;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] #to-top:hover {
  -webkit-box-shadow: 0px 3px #bd48cc;
  -moz-box-shadow: 0px 3px #bd48cc;
  box-shadow: 0px 3px #bd48cc;
}
/* line 29, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] #to-top:hover {
  bottom: 0.6em;
}
/* line 31, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] .header-container {
  border-bottom: 5px solid #bd48cc;
}
/* line 33, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] .wh-header-name {
  color: #bd48cc;
}
/* line 35, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] .wh-header-options.select {
  border-color: #bd48cc;
}
/* line 37, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] .wh-header-options.select select {
  color: #bd48cc;
}
/* line 39, ../../app/styles/sass/_mixins.sass */
[data-wh-current-section="contacts"] .wh-header-options.select:after {
  color: #bd48cc;
}

/* line 42, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.contacts {
  background: #cb70d7;
  border-bottom: 5px solid #bd48cc;
}

/* line 47, ../../app/styles/sass/_mixins.sass */
.contacts .wh-generic-section-title {
  text-shadow: 0px 5px 0px #bd48cc;
}

/* line 53, ../../app/styles/sass/_mixins.sass */
.wh-header-option.contacts.current a, .wh-header-option.contacts:hover a {
  color: #bd48cc;
}

/* line 325, ../../app/styles/sass/_page.sass */
.wh-generic-section {
  text-align: center;
}

/* line 329, ../../app/styles/sass/_page.sass */
.wh-generic-section-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin: 1em auto;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 0.1em 0.2em;
  color: white;
  position: relative;
}

/* line 341, ../../app/styles/sass/_page.sass */
.wh-generic-section-content {
  text-align: left;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

/* line 348, ../../app/styles/sass/_page.sass */
.wh-part-item {
  float: left;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: block;
  text-align: justify;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  line-height: 1.5em;
}
/* line 360, ../../app/styles/sass/_page.sass */
.wh-part-item a {
  color: white;
  font-weight: 400;
}
/* line 363, ../../app/styles/sass/_page.sass */
.wh-part-item a:hover {
  text-decoration: underline;
}
/* line 368, ../../app/styles/sass/_page.sass */
.wh-part-item:not(:last-child) {
  margin-bottom: 2.5em;
}

/* line 371, ../../app/styles/sass/_page.sass */
.wh-cv-part-item-title {
  font-size: 1.4em;
  font-weight: 500;
}

/* line 376, ../../app/styles/sass/_page.sass */
.wh-cv-part {
  padding: 0 0.8em 6em 0.8em;
  display: inline-block;
  width: 100%;
}
/* line 78, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.presentation a {
  padding: 0 0.3em;
}
/* line 80, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.presentation a:hover {
  text-decoration: none;
  background: black;
  color: white;
}
/* line 392, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item, .wh-cv-part.career .wh-part-item {
  float: left;
  padding: 0;
  position: relative;
}
/* line 397, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-title, .wh-cv-part.career .wh-cv-part-item-title {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  height: 3em;
  line-height: 3em;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center !important;
  padding: 0em;
  width: 100%;
}
/* line 408, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-images-wrapper, .wh-cv-part.career .wh-cv-part-item-images-wrapper {
  height: 12em;
  position: relative;
}
/* line 412, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image, .wh-cv-part.career .wh-cv-part-item-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 420, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image .desc, .wh-cv-part.career .wh-cv-part-item-image .desc {
  position: absolute;
  right: 0.5em;
  left: auto;
  bottom: 0.5em;
  top: auto;
  padding: 0.3em 0.8em;
  opacity: 1;
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 435, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description,
.wh-cv-part.work .wh-part-item-content, .wh-cv-part.career .wh-cv-part-item-description,
.wh-cv-part.career .wh-part-item-content {
  color: white;
  line-height: normal;
}
/* line 440, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description, .wh-cv-part.career .wh-cv-part-item-description {
  line-height: 1.3em;
  padding: 0.9em;
  font-weight: 300;
}
/* line 444, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description a, .wh-cv-part.career .wh-cv-part-item-description a {
  font-weight: 400;
}
/* line 446, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description a:hover, .wh-cv-part.career .wh-cv-part-item-description a:hover {
  text-decoration: underline;
}
/* line 449, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item-content, .wh-cv-part.career .wh-part-item-content {
  bottom: 0.6em;
  left: 0;
  right: 0;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 0.2em;
  padding: 0 1em;
}
/* line 458, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item-content-element, .wh-cv-part.career .wh-part-item-content-element {
  font-weight: 300;
  padding: 0.2em 0.6em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
}
/* line 473, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-generic-section-content > ol:after {
  display: none;
}
/* line 476, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item {
  height: 24.7em;
  width: 100%;
  margin: 0 auto 1em auto;
  background: #267773;
  -webkit-box-shadow: 0px 5px #1a504e;
  -moz-box-shadow: 0px 5px #1a504e;
  box-shadow: 0px 5px #1a504e;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.work .wh-part-item:hover {
  -webkit-box-shadow: 0px 3px #1a504e;
  -moz-box-shadow: 0px 3px #1a504e;
  box-shadow: 0px 3px #1a504e;
}
/* line 62, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.work .wh-part-item:hover {
  top: 2px;
}
/* line 483, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-title {
  background: #1a504e;
}
/* line 486, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-images-wrapper {
  background: #2c8a86;
}
/* line 490, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector button {
  position: absolute;
  top: 0;
  bottom: 0;
  color: rgba(60, 60, 60, 0.5);
  background: none;
  border: none;
  z-index: 9;
  font-size: 2.4em;
  padding: 0 0.2em;
  margin: 0;
  font-family: "arial";
}
/* line 503, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector button.more {
  cursor: pointer;
}
/* line 505, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector button.more:hover {
  background: rgba(145, 145, 145, 0.2);
  background: linear-gradient(top, rgba(145, 145, 145, 0.04) 0, rgba(145, 145, 145, 0.2) 50%, rgba(145, 145, 145, 0.04) 100%);
  background: -moz-linear-gradient(top, rgba(145, 145, 145, 0.04) 0, rgba(145, 145, 145, 0.2) 50%, rgba(145, 145, 145, 0.04) 100%);
  background: -webkit-linear-gradient(top, rgba(145, 145, 145, 0.04) 0, rgba(145, 145, 145, 0.2) 50%, rgba(145, 145, 145, 0.04) 100%);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
/* line 512, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector button.no-more {
  opacity: 0.3;
}
/* line 515, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector .previous {
  left: 0;
}
/* line 518, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-slider-selector .next {
  right: 0;
}
/* line 522, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 526, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image:not(.current) {
  opacity: 0;
  z-index: -10;
}
/* line 530, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image.current {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 534, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-image .desc {
  background: rgba(0, 0, 0, 0.5);
}
/* line 537, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description,
.wh-cv-part.work .wh-part-item-content {
  background: #267773;
}
/* line 541, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item-content {
  position: absolute;
}
/* line 545, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-cv-part-item-description a {
  color: black;
}
/* line 78, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.work .wh-cv-part-item-description a {
  padding: 0 0.3em;
}
/* line 80, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.work .wh-cv-part-item-description a:hover {
  text-decoration: none;
  background: black;
  color: white;
}
/* line 549, ../../app/styles/sass/_page.sass */
.wh-cv-part.work .wh-part-item-content-element {
  background: #f24d35;
  float: right;
}
/* line 559, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-part-item {
  background: #262626;
  -webkit-box-shadow: 0px 5px #090909;
  -moz-box-shadow: 0px 5px #090909;
  box-shadow: 0px 5px #090909;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.career .wh-part-item:hover {
  -webkit-box-shadow: 0px 3px #090909;
  -moz-box-shadow: 0px 3px #090909;
  box-shadow: 0px 3px #090909;
}
/* line 62, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.career .wh-part-item:hover {
  top: 2px;
}
/* line 563, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-title {
  background: #090909;
}
/* line 566, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-images-wrapper {
  background: white;
}
/* line 568, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-images-wrapper .desc {
  background: rgba(0, 0, 0, 0.75);
}
/* line 571, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
/* line 576, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-dates {
  position: absolute;
  top: 5.5em;
  right: 0.3em;
  z-index: 999;
  font-size: 0.8em;
}
/* line 583, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-date {
  background: #fccc34;
  padding: 0.1em 0.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 587, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-date + .wh-cv-part-item-date {
  margin-left: 0.3em;
  position: relative;
}
/* line 590, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-date + .wh-cv-part-item-date:before {
  content: "-";
  position: absolute;
  left: -0.2em;
  font-size: 3em;
  top: -0.13em;
  color: #fccc34;
}
/* line 598, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-part-item-content-element {
  padding: 0;
  font-size: 1.1em;
  margin: 1em 0;
}
/* line 604, ../../app/styles/sass/_page.sass */
.wh-cv-part.career .wh-cv-part-item-description a {
  color: #f9be04;
}
/* line 78, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.career .wh-cv-part-item-description a {
  padding: 0 0.3em;
}
/* line 80, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.career .wh-cv-part-item-description a:hover {
  text-decoration: none;
  background: #f9be04;
  color: black;
}
/* line 612, ../../app/styles/sass/_page.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(odd) .wh-cv-part-item-title,
.wh-cv-part.tech_skills .wh-part-item:nth-child(odd) .wh-part-item-content-element {
  float: right;
  text-align: right;
}
/* line 617, ../../app/styles/sass/_page.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(even) .wh-cv-part-item-title,
.wh-cv-part.tech_skills .wh-part-item:nth-child(even) .wh-part-item-content-element {
  float: left;
  text-align: left;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(1) {
  width: 89%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(2) {
  width: 94%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(3) {
  width: 79%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(4) {
  width: 72%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(5) {
  width: 81%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(6) {
  width: 84%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(7) {
  width: 69%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(8) {
  width: 70%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(9) {
  width: 89%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(10) {
  width: 70%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(11) {
  width: 80%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(12) {
  width: 57%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(13) {
  width: 77%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(1) .wh-part-item-content-element:nth-child(14) {
  width: 82%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(1) {
  width: 86%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(2) {
  width: 66%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(3) {
  width: 70%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(4) {
  width: 71%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(5) {
  width: 55%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(6) {
  width: 63%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(2) .wh-part-item-content-element:nth-child(7) {
  width: 46%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(3) .wh-part-item-content-element:nth-child(1) {
  width: 71%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(3) .wh-part-item-content-element:nth-child(2) {
  width: 89%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(3) .wh-part-item-content-element:nth-child(3) {
  width: 81%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(4) .wh-part-item-content-element:nth-child(1) {
  width: 79%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(4) .wh-part-item-content-element:nth-child(2) {
  width: 69%;
}
/* line 57, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item:nth-child(4) .wh-part-item-content-element:nth-child(3) {
  width: 54%;
}
/* line 659, ../../app/styles/sass/_page.sass */
.wh-cv-part.tech_skills .wh-cv-part-item-title {
  margin-bottom: 1em;
  text-transform: capitalize;
  font-style: italic;
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}
/* line 667, ../../app/styles/sass/_page.sass */
.wh-cv-part.tech_skills .wh-part-item-content-element {
  position: relative;
  text-align: left;
  background: #d65548;
  color: white;
  font-weight: 600;
  font-size: 0.7em;
  margin-bottom: 1.4em;
  padding: 0.4em 0.5em;
  display: block;
  text-transform: uppercase;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-box-shadow: 0px 5px #962d22;
  -moz-box-shadow: 0px 5px #962d22;
  box-shadow: 0px 5px #962d22;
}
/* line 67, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item-content-element:hover {
  -webkit-box-shadow: 0px 3px #962d22;
  -moz-box-shadow: 0px 3px #962d22;
  box-shadow: 0px 3px #962d22;
}
/* line 62, ../../app/styles/sass/_mixins.sass */
.wh-cv-part.tech_skills .wh-part-item-content-element:hover {
  top: 2px;
}

/* line 690, ../../app/styles/sass/_page.sass */
.wh-footer.wrapper {
  padding-top: 3em;
}

/* line 694, ../../app/styles/sass/_page.sass */
.wh-contacts ul {
  display: none;
  width: inherit;
}

/* line 700, ../../app/styles/sass/_page.sass */
.intro-scrolled .wh-contacts ul {
  display: inline-block;
  margin-top: 3em;
}

/* line 704, ../../app/styles/sass/_page.sass */
.wh-contact {
  float: none;
  clear: both;
  opacity: 1;
}

/* line 710, ../../app/styles/sass/_page.sass */
.wh-contact-icon {
  color: white;
  font-size: 2.3em;
  float: left;
  padding-bottom: 0.5em;
}
/* line 716, ../../app/styles/sass/_page.sass */
.wh-contact-icon span {
  display: none;
}

/* line 721, ../../app/styles/sass/_page.sass */
[data-wh-current-section=hobbies] .wh-intro-fullname,
[data-wh-current-section=contacts] .wh-intro-fullname {
  color: white;
}

@media only screen and (min-width: 480px) {
  /* line 1, ../../app/styles/sass/_480.sass */
  .wh-background-image {
    background-image: url("../images/bilbao_medium.jpg");
  }
}
@media only screen and (min-width: 600px) {
  /* line 2, ../../app/styles/sass/_600.sass */
  .wh-contacts ul {
    padding-top: 4em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 2, ../../app/styles/sass/_768.sass */
  .wh-background-image:before {
    top: 13%;
    height: 10em;
  }

  /* line 8, ../../app/styles/sass/_768.sass */
  .intro-scrolled .wh-background-image:before {
    height: 10em;
    top: 18%;
  }

  /* line 14, ../../app/styles/sass/_768.sass */
  .wh-intro-fullname,
  .wh-intro-summary,
  .wh-intro-description {
    right: 10%;
  }

  /* line 19, ../../app/styles/sass/_768.sass */
  .wh-intro-fullname {
    font-size: 3em;
    font-weight: 100;
  }

  /* line 22, ../../app/styles/sass/_768.sass */
  .wh-intro-summary {
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 3em;
  }

  /* line 26, ../../app/styles/sass/_768.sass */
  .wh-intro-description {
    top: 13%;
    font-size: 0.8em;
    margin-top: 11em;
  }

  /* line 33, ../../app/styles/sass/_768.sass */
  .wh-intro-loaded .wh-intro-fullname,
  .wh-intro-loaded .wh-intro-summary {
    top: 13%;
  }

  /* line 43, ../../app/styles/sass/_768.sass */
  [data-wh-current-section=hobbies] .wh-intro-fullname,
  [data-wh-current-section=contacts] .wh-intro-fullname {
    display: inline-block;
    top: 18%;
  }

  /* line 50, ../../app/styles/sass/_768.sass */
  .intro-scrolled .wh-contacts ul {
    display: inline;
    position: fixed;
    top: 18%;
    right: 10%;
    margin-top: 7em;
    padding-top: 0;
  }

  /* line 58, ../../app/styles/sass/_768.sass */
  .wh-contact {
    float: left;
    clear: none;
    opacity: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
  }

  /* line 68, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact {
    opacity: 1;
    -webkit-transition-duration: 2.1s;
    -moz-transition-duration: 2.1s;
    -o-transition-duration: 2.1s;
    transition-duration: 2.1s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(2) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(3) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(4) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(5) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(6) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(7) {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(8) {
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(9) {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }
  /* line 75, ../../app/styles/sass/_768.sass */
  .wh-contacts.when-shown.do .wh-contact:nth-last-child(10) {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }

  /* line 79, ../../app/styles/sass/_768.sass */
  .wh-contact-icon {
    opacity: 0.7;
  }
  /* line 81, ../../app/styles/sass/_768.sass */
  .wh-contact-icon:hover, .wh-contact-icon:not(:hover) {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 86, ../../app/styles/sass/_768.sass */
  .wh-contact-icon:hover {
    opacity: 1;
    color: #cb70d7;
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../../app/styles/sass/_992.sass */
  .wh-background-image {
    background-image: url("../images/bilbao_big.jpg");
    height: 20%;
    background-position-y: inherit !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  /* line 6, ../../app/styles/sass/_992.sass */
  .wh-background-image:before {
    position: fixed;
    left: 0;
    right: 0;
    top: 13%;
  }

  /* line 16, ../../app/styles/sass/_992.sass */
  .wh-header-options.select {
    display: none;
  }
  /* line 18, ../../app/styles/sass/_992.sass */
  .wh-header-options.ul {
    margin-top: 0.95em;
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
  }

  /* line 27, ../../app/styles/sass/_992.sass */
  .wh-header-locales {
    float: right;
  }

  /* line 32, ../../app/styles/sass/_992.sass */
  .intro-scrolled .wh-header-options.ul {
    margin-top: 1.4em;
  }
  /* line 34, ../../app/styles/sass/_992.sass */
  .intro-scrolled .wh-header-locales {
    display: inline-block;
  }
  /* line 36, ../../app/styles/sass/_992.sass */
  .intro-scrolled .wh-header-locale {
    padding-top: 1.45em;
  }

  /* line 43, ../../app/styles/sass/_992.sass */
  .wh-generic-section-title {
    font-size: 3em;
  }

  /* line 47, ../../app/styles/sass/_992.sass */
  .wh-generic-section-content {
    width: 960px;
    max-width: none;
  }
  /* line 50, ../../app/styles/sass/_992.sass */
  .wh-generic-section-content > ol {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  /* line 54, ../../app/styles/sass/_992.sass */
  .wh-generic-section-content > ol:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    border-right: 1px dashed white;
  }

  /* line 62, ../../app/styles/sass/_992.sass */
  .wh-part-item {
    width: 48%;
  }
  /* line 64, ../../app/styles/sass/_992.sass */
  .wh-part-item:nth-child(odd) {
    margin-right: 52%;
  }
  /* line 66, ../../app/styles/sass/_992.sass */
  .wh-part-item:nth-child(odd) .wh-cv-part-item-dates,
  .wh-part-item:nth-child(odd) .wh-cv-part-item-title {
    text-align: right;
  }
  /* line 69, ../../app/styles/sass/_992.sass */
  .wh-part-item:nth-child(even) {
    margin-left: 52%;
  }
  /* line 71, ../../app/styles/sass/_992.sass */
  .wh-part-item:nth-child(even) .wh-cv-part-item-dates,
  .wh-part-item:nth-child(even) .wh-cv-part-item-title {
    text-align: left;
  }

  /* line 84, ../../app/styles/sass/_992.sass */
  .wh-cv-part.presentation .wh-generic-section-title:before, .wh-cv-part.presentation .wh-generic-section-title:after, .wh-cv-part.hobbies .wh-generic-section-title:before, .wh-cv-part.hobbies .wh-generic-section-title:after {
    content: "";
    position: absolute;
    z-index: 3;
  }
  /* line 89, ../../app/styles/sass/_992.sass */
  .wh-cv-part.presentation .wh-generic-section-title:before, .wh-cv-part.hobbies .wh-generic-section-title:before {
    -webkit-box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.7);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  /* line 97, ../../app/styles/sass/_992.sass */
  .wh-cv-part.presentation .wh-generic-section-title:after {
    background: url(../images/arrow1.png) no-repeat;
    -webkit-transform: rotate(49deg);
    -moz-transform: rotate(49deg);
    -ms-transform: rotate(49deg);
    -o-transform: rotate(49deg);
    transform: rotate(49deg);
    right: -4em;
    top: 1em;
    height: 3.5em;
    width: 4.5em;
  }
  /* line 105, ../../app/styles/sass/_992.sass */
  .wh-cv-part.presentation .wh-generic-section-title:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    right: -7.9em;
    top: 0.5em;
    height: 3.5em;
    width: 3.5em;
    background: url(../images/borja.jpg) no-repeat;
  }
  /* line 117, ../../app/styles/sass/_992.sass */
  .wh-cv-part.career .wh-part-item:nth-child(even) .wh-cv-part-item-dates {
    left: 0.3em;
  }
  /* line 123, ../../app/styles/sass/_992.sass */
  .wh-cv-part.tech_skills.when-shown:not(.do) .wh-part-item-content-element {
    width: 10% !important;
  }
  /* line 129, ../../app/styles/sass/_992.sass */
  .wh-cv-part.hobbies .wh-generic-section-title:before {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    right: -4.5em;
    top: 1.8em;
    height: 3.5em;
    width: 3.5em;
    background: url(../images/borja_bike.png) no-repeat;
  }
  /* line 137, ../../app/styles/sass/_992.sass */
  .wh-cv-part.hobbies .wh-generic-section-title:after {
    background: url(../images/arrow2.png) no-repeat;
    background-size: 70%;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
    right: -0.4em;
    top: 1.3em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
  }
  /* line 149, ../../app/styles/sass/_992.sass */
  .wh-cv-part.work .wh-part-item {
    width: 47%;
    margin: 0 1.5% 2% 1.5%;
  }
  /* line 156, ../../app/styles/sass/_992.sass */
  .wh-cv-part.career .wh-cv-part-item-image .desc, .wh-cv-part.work .wh-cv-part-item-image .desc {
    font-size: 100%;
    right: 30%;
    left: 30%;
    bottom: 40%;
    top: 40%;
    line-height: 2.2em;
    padding: 0;
    opacity: 0;
  }
  /* line 166, ../../app/styles/sass/_992.sass */
  .wh-cv-part.career .wh-cv-part-item-image:hover .desc, .wh-cv-part.work .wh-cv-part-item-image:hover .desc {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
}
@media only screen and (min-width: 1382px) {
  /* line 4, ../../app/styles/sass/_1382.sass */
  .wh-intro-fullname,
  .wh-intro-summary,
  .wh-intro-description,
  .intro-scrolled .wh-contacts ul {
    position: fixed;
    z-index: 0;
    right: 18%;
  }

  /* line 12, ../../app/styles/sass/_1382.sass */
  .wh-background-image,
  .wh-intro,
  .wh-contacts {
    font-size: 120%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 1, ../../app/styles/sass/_992smaller.sass */
  .wh-background-image {
    background-position-y: 0 !important;
  }
}
