// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// use of keyframes mixin
//+keyframes(opacity0)
//  0%
//    opacity: 0
//  100%
//    opacity: 0

@mixin cv-section-colors($color, $section-key, $darken: 10%, $top-darken: $darken)

  $darken-color: darken($color, $darken)
  $top-darken-color: darken($color, $top-darken)

  [data-wh-current-section="#{$section-key}"]

    #to-top

      color: $top-darken-color
      +bottom_shadow_and_hover($top-darken-color)
      &:hover
        bottom: .6em
    .header-container
      border-bottom: 5px solid $darken-color
    .wh-header-name
      color: $darken-color
    .wh-header-options.select
      border-color: $darken-color
      select
        color: $darken-color
      &:after
        color: $darken-color

  .wh-cv-part.#{$section-key}
    background: $color
    border-bottom: 5px solid $darken-color

  .wh-header-option.#{$section-key}
    &.current,
    &:hover
      a
        color: $darken-color

@mixin tech_skill_bar($pos, $width)
  &:nth-child(#{$pos})
    width: #{$width}

@mixin bottom_shadow_and_hover_top($color)
  +bottom_shadow_and_hover($color)
  &:hover
    top: 2px

@mixin bottom_shadow_and_hover($color)
  +box-shadow(0px 5px $color)
  &:hover
    +box-shadow(0px 3px $color)

@mixin whoru-icon($content)
  font-family: 'whoru-icons'
  content: $content
  speak: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

