// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// use of keyframes mixin
//+keyframes(opacity0)
//  0%
//    opacity: 0
//  100%
//    opacity: 0

@mixin cv-section-colors($color, $section-key)
  [data-wh-current-section="#{$section-key}"]
    #to-top
      background-color: $color!important

  .wh-header-option.#{$section-key}
    &.current,
    &:hover
      a
        color: $color
  .#{$section-key}
    .wh-generic-section-title
      background: $color
      border-color: $color

@mixin tech_skill_bar($pos, $width)
  &:nth-child(#{$pos})
    width: $width


