$top-fixed-items: 13%
$top-fixed-items-768: 13%
$top-fixed-items-nointro-768: 18%

$right-fixed-items: 6%
$right-fixed-items-768: 10%
$right-fixed-items-1382: 18%


$color-grey: rgb(83, 88, 94)

$color-intro-text: #f0c700


$color-section-presentation: #e74c3c
$color-section-work: #9ADBD7
$color-section-tech_skills: #7658f8
$color-section-career: #FCCC34
$color-section-hobbies: #5bd999
$color-section-contacts: #cb70d7

$color-first-section: $color-section-presentation


$border-radius-item: 5px
