$top-fixed-items-992: 13%
$right-fixed-items-992: 10%
$right-fixed-items-1382: 18%


$color-grey: rgb(83, 88, 94)

$color-intro-text: #f0c700


$color-section-presentation: #e74c3c
$color-section-work: #9ADBD7
$color-section-tech_skills: #82648a
$color-section-career: #fff200
$color-section-hobbies: #00BA56
$color-section-contacts: #FFD600

$color-first-section: $color-section-presentation


$border-radius-item: 5px
